// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//top_header.jsx
.header-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: red;
    justify-content: space-between;
    padding: 16px;

}

.left-container {
    display: flex;
    align-items: center;
}

.left-container > .logo {
 margin-left: 25px;
 font-size: 18px;
 
}


.center-container {
    display: flex;
    width: 40%;
    border: 1px solid silver;
}

.center-container > input {
    flex: 1;
    height: 30px;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.right-container {
    padding: 10px;
    border:1px solid white;
    position: relative;
}

.right-container .drop-down {
    display: none;
}

.active, .right-container:hover {
    background: silver;
    border-radius: 3px;
    cursor: pointer;
}

.right-container:hover .drop-down {
    display: block;
    position: absolute;
    transform: translate(0px, 9px);
   
}

.login-btn {
     margin-right: 10px;
     font-size: 18px;
     border: 1px solid white;
     padding: 12px;
     font-family: Arial, Helvetica, sans-serif;
}




