// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//top_header.jsx
.header-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: red;
    justify-content: space-between;
    padding: 16px;

}

.left-container {
    display: flex;
    align-items: center;
}

.left-container > .logo {
 margin-left: 10px;
 font-size: 18px;
}

.center-container {
    display: flex;
    width: 40%;
    border: 1px solid black;
}

.center-container > input {
    flex: 1;
    height: 30px;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.right-container {
    padding: 10px;
    border:1px solid blue;
    position: relative;
}

.right-container .drop-down {
    display: none;
}

.active, .right-container:hover {
    background: lightgreen;
    border-radius: 3px;
}

.right-container:hover .drop-down {
    display: block;
    position: absolute;
   
}


//Hovered component.
.hovered {
    margin-top: 25px;
    padding: 10px; 
    box-shadow: 0 15px 25px rgba(0,0,0,0.9);
    margin-left: -70px;
}

.hovered h1 {
    border-bottom: 1px solid black;
    padding: 10px;
    width: 150px;

}

.hovered button {
    width: 150px;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    Background-color: red; 
    text-align: Center;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    margin-top: 10px;
}







