// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//top_header.jsx
.header-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background:	white;
    justify-content: space-between;
    padding: 16px;
    position: sticky;
    top:0;
    z-index: 100;
}

.left-container {
    display: flex;
    align-items: center;
}

.left-container > .logo {
 margin-left: 30px;
 font-size: 22px;
 font-family: Helvetica, sans-serif;
}


.center-container {
    display: flex;
    align-items: center;
    width: 45%;
    // border: 0.1px solid white;
    background:#F8F8F8;
    border-radius: 2px;
    color:#828282 ;
    border: 1px solid #D3D3D3;
}


.center-container > input {
    flex: 100%;
    height: 30px;
    border:none;
    outline: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left:12px;
    font-size: 15px;
}

.search-icon {
    padding-right: 10px;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 6px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.right-container {
    display: flex;
    padding: 10px;
    position: relative;
    margin-right: 44px;
}


.user-logo span .drop-down {
    display: none;
}
.user-logo span:hover .drop-down {
    display: block;
    position: absolute;
   
   
}


.login-btn {
     font-size: 16px;
     color:#0660D4;
     border: 1px solid #cdd0d4;
     padding: 12px;
     background-color:#fff;
     font-family:Helvetica, sans-serif;
     width:84px;
     margin-left:-24px;
}

.logo-tv{
  color: #F6511E;
  font-size: 22px;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
}
.right-container > .user-logo {

    border-radius: 50%;
    height:34px;
    width:34px;
    margin-left: 44px;
    background:#F6511E;
    cursor: pointer;
    color:#fff;
    font-size: 14px;
    font-weight: 400;
}

.userProfile{
    font-size:18px;
    font-weight: 500;
    font-family:Helvetica;
    text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding-top: 7px;
    text-transform: uppercase;

}


.active, .user-logo:hover {
    cursor: pointer;
}

.video-logo:hover {
    cursor: pointer;
}

.video-icon {
    position: relative;
    align-items: center;
    justify-content: center;
    color:#606060;
    width: 22px;
    height: 22px;
    padding-top:8px;
    padding-right:20px;

}

.video-icon > .upload-link {
    position: absolute;
    display: none;
}

.video-icon:hover .upload-link {
    display: block;
    position: absolute;
    padding:14px; 
    box-shadow: 0 6px 12px gray(0,0,0,0.9);
    margin-left:-10px;
    z-index: 5;
    border: 1px solid #D3D3D3;
    background: #EEEEEE;
}