.main-display {
    display: flex;
}

.video-display{
    flex: .8;
    object-fit: cover;
    border-bottom: 1px solid #E0E0E0;
    padding: 24px 0;

}

.video-display {
    margin-left: 60px;
    margin-right: 60px;
}

.side-bar-display {
    flex: .2;
}

.video_url{
    width: 100%; 
    height: 680px;
}

.title-text{
    font-size:28px; 
    margin-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 0.5px;
}
.user-name{
    font-size: 14x; 
    margin-top: 12px; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    
}


.views-date{
    display: flex;
    justify-content: space-between;
    color: slategray;
    border-bottom: 1px solid #E0E0E0;;
    padding-bottom: 20px;
}

.left{
    display: flex;
}

.left >h1 {
    padding-right: 8px;
}

.middle {
    display: flex;
    align-items: center;
}

.middle span {
    font-size: 16px;
    padding-right: 4px;
}

.right {
    position: relative;
}

.right button {
    padding: none;
    border: none;
    cursor: pointer;
    padding: 24px;
}

.right > .dropDown {
    position: absolute;
    display:none;
    border: 1px solid silver;
    // padding: 10px;
    background: lightgray;
}

.right:hover .dropDown {
    display: block;
}

.edit-word{
    padding: 16px;
}

.edit-button:hover{
    border: 1px solid silver;
}
.delete-button:hover{
    border: 1px solid silver;
}

.views-date > h1 {
    margin-right: 10px;
}


.initial-Like{
    border: none;
    outline: none;
    color: darkgrey;
    font-size: 13px;
}

.after-liked{
    color: blue;
    font-size: 13px;
}

.comments-column{
    margin-left:44px;
    padding-top:24px;    
}

.comment-item{
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-item .logo {
    border: 1px solid blue;
    margin:14px;
    padding:10px;
    border-radius: 50%;
    padding-left: 10px;
}

.name-comments{
    margin-left: 60px;
    margin-top: -25px;
}

.comment-comment {
    font-family: sans-serif;
}

.comment-name{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 4px;
}

.comment-icon{
    position: relative;
}

.comment-drop-down{
    display: none;
}
.comment-edit:hover .comment-drop-down{
    display: block;
    margin-right: 20px;
    border: 1px solid red;
}

