.main-display {
    display: flex;
}

.video-display{
    flex: .8;
    object-fit: cover;
    border-bottom: 1px solid #E0E0E0;
    padding: 24px 0;

}

.video-display {
    margin-left: 60px;
    margin-right: 60px;
}

.side-bar-display {
    flex: .2;
}

.video_url{
    width: 100%; 
    height: 680px;
}

.title-text{
    font-size:28px; 
    margin-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 0.5px;
}
.user-name{
    font-size: 14x; 
    margin-top: 12px; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    
}

.views-date{
    display: flex;
    justify-content: space-between;
    color: slategray;
    border-bottom: 1px solid #E0E0E0;;
    padding-bottom: 20px;
}

.left{
    display: flex;
}

.left >h1 {
    padding-right: 8px;
}

.views-date > h1 {
    margin-right: 10px;
}

.middle {
    display: flex;
    align-items: center;
}

.middle span {
    font-size: 16px;
    padding-right: 4px;
}

.right {
    position: relative;
}

.right button {
    padding: none;
    border: none;
    cursor: pointer;
    padding: 24px;
}

.right > .dropDown {
    position: absolute;
    display:none;
    border: 1px solid silver;
    // padding: 10px;
    background: lightgray;
    left: -22px;
    top:20px;
}

.right:hover .dropDown {
    display: block;
}

.edit-word{
    padding: 16px;
}

.edit-button:hover{
    border: 1px solid silver;
}
.delete-button:hover{
    border: 1px solid silver;
}

.description{
    border-bottom: 1px solid silver;
    padding-bottom: 17px;
    position: relative;
}

.initial-Like{
    border: none;
    outline: none;
    color: darkgrey;
    font-size: 13px;
}

.after-liked{
    color: blue;
    font-size: 13px;
}

// .comments-column{
//     position: absolute;
//     margin-left:44px;
//     // padding-top:90px;
//     width:75%;
//     left: 0;
//     top:120%;    
// }

.log-in-info{
    margin: none;
    border:none;
    left: 40%;
    top:-10%;
    font-family: serif;
    font-size: 18px;
    padding: 12px;
    background-color: lightgrey;
}

.log-in-info:hover{
    border: 1px solid silver;
}

.comments-numbers{
    font-size: 20px;
    font-family: serif;
    position: relative;
}

.comments-form{
    width: 90%;
}

.comment-item{
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.comment-item .logo {

    padding:12px;
    padding-left: -8px;
    padding-right: -8px;
    border-radius: 55%;
    background-color: #f6511e;
    color: white;
}

.name-comments{
    margin-left: 60px;
    margin-top: -25px;
}

.comment-comment {
    font-family: sans-serif;
}

.comment-name{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 4px;
    color: #f6511e;
}

.comment-edit{
    position: absolute;
    top:85%;
    left:8%;
}


.comment-edit .button{
    padding: 4px;
    margin-bottom: 4px;
    background-color: lightblue;

    border: 1px solid grey;
}
.comment-edit .modal-button{
    padding: 4px;
    margin-bottom: 4px;
    background-color: lightblue;
    border: 1px solid grey;
}

.comment-edit .button:hover{
    background: grey;
    cursor: pointer;
}
.comment-edit .modal-button:hover{
    background: grey;
    cursor: pointer;
}

.edit-comment-box{
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal {
    // display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    // overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content{
    background-color: #f4f4f4;
    margin: 55% 4%; 
    padding: 30px;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.6), 0 5px 8px 0 rgba(0,0,0,0.6);
}

.close-modal{
    border:none;
    outline:none;
    background-color: transparent;
    color: #ccc;
    float:right;
    top:0;
    left:0;
    font-size: 20px;
}

.close-modal:hover {
    color: red;
    cursor: pointer;
}
.submit-modal:hover {
    color: red;
    cursor: pointer;
}

.submit-modal{
     border:none;
    outline:none;
    background-color: lightgray;
    // background-color: transparent;
    font-size: 20px;
    padding: 8px;
    margin-top: 8px;
    float: center;
    margin-left: 40%;
}