.form-container {
    position: relative;
    border: 1px solid red;
    text-align: center;
    padding: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-container .header-text {
    margin: 20px;
    position: absolute;
    top:5%;
    left:40%;
}


.form-container > .form-items {
    position: absolute;
    top:20%;
    left:40%;
}